body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin:0
}

table { 
width: 750px; 
border-collapse: collapse; 
margin:auto;
}

/* Zebra striping */

th { 
background: #801cd9; 
color: white; 
font-weight: bold; 
}

td, th { 
padding: 10px; 
border: none; 
text-align: left; 
font-size: 18px;
}

.warning{
  background: #ff000045;
}

.success{
  background: #62ff0045;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

table { 
    width: 100%; 

}

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
  display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee; 
  position: relative;
  padding-left: 50%; 
}

td:before { 
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%; 
  padding-right: 10px; 
  white-space: nowrap;
  /* Label the data */
  content: attr(data-column);

  color: #000;
  font-weight: bold;
}

}

.result_header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin:0
}

#my_dataviz{
padding: 2rem;
display: flex;
justify-content: center;
align-items: center;
margin: 50px 15px; 
}


.desc{
  color:grey;
  margin-top:20px;
}
.footer {

  height: 50px;
  width: 100%;
  background-color: #801cd9;
  color: white ;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p{

  margin: 0

}

.title{
  font-size: 4rem;
}

.image-uploader{
  min-height:310px;
  font-size:180%;
  margin:0%;
  border:5px dotted grey;
  width:50%;
  padding:0%;
  margin-top:3%;
  margin-bottom:0%
}
